*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Outfit', sans-serif;
}

.header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s;
}

/* navbar */

#logo-navbar{
    margin-bottom: 5px;
}

.logo{
    font-size: larger;
    color: var(--text-color);
    text-decoration: none;
    color: none;
}

.collapse a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    text-decoration: none;
    transition: all .50s ease;
}

.navbar-nav a:hover{
    color: #FFB633;
}

.bxsearch{
    display: flex;
}

.bxsearch input{
    border-radius: 10px;
    padding : 8px;
    background-color: #D9D9D9;
    border: none;
    outline: #FFB633;
    padding-left: 10px;
    width: 100%;
}
.bxsearch button{
    position: relative;
    right: 14px;
    border-radius: 10px;
    padding: 8px;
    background-color: #FFB633;
    border: none;
    width: 90px;
}


#signup{
    background-color: #FFB633;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 8px;
}

#login{
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 8px;
    margin-left: 5px;
}

#login-nav{
    display: none;
}

#signup-nav{
    display: none;
}


/* carousel */



.slide-text{
    position: absolute;
    left: 0;
    bottom: 200px;
}

#slide-judul{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: aliceblue;
}

#slide-btn{
    position: absolute;
    background-color: #FFB633;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
    left: 0;
}

#slide-btn:hover
{
    background-color: darkorange;
}

.carousel .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    opacity: 1;
}

.carousel .carousel-indicators .active{
    opacity: 1;
    background-color: #FFB633;
}


/* searchbar responsive */

.search-carousel{
    display: none;
}

/* Brand */

.brand-txt{
    position: relative;
    margin: auto;
    max-width: 1120px;
    background: #FFB633;
    border-radius: 12px;  
    padding-bottom: 25px;
    top: 60px;
}

.brand-txt h3{
    margin-left: 10px;
}

.brandbox{
    position: relative;
    margin: auto;
    max-width: 1120px;
    background: #ffffff;
    border-radius: 12px;  
    margin-top: 50px;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    bottom: 20px;
    padding-bottom: 100px;
}

.brand-list{
    display: flex;
    justify-content: center;
}

.brandli{
    position: relative;
    top: 50px;
    margin-right: 50px;
}

.show-more{
    position: relative;
    top: 85px;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.showmore-item{
    display: flex;
    justify-content: center;
}

.show-item{
    position: relative;
    top: 80px;
    left: 10px;
    margin-right: 50px;
}

.showmore-item{
    display: none;
}

.showmore-item--show{
    display: flex;
}



/* popular */

.popular{
    margin: auto;
}

.popular-txt{
    position: block;
    left: 20px;
    top: 50px;
    display: flex;
    margin: auto;
    max-width: 1120px;
}

.slide-mobil{
    display: flex;
    margin: auto;
    max-width: 1120px;
}

.cardimg{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#car-name{
    font-weight: bold;
}

#car-price{
    bottom: 15px;
}

#detail-btn{
    background-color: #FFB633;
    width: 100%;
    border: none;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
}


.bodyproduct{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 0px 12px 12px;
}

.slick-next:before{
    position: relative;
    right: 15px;
    bottom: 2px;
    font-size: 60px;
}

.slick-prev:before{
    position: relative;
    right: 40px;
    bottom: 10px;
    font-size: 60px;
}


/* .btn-next{
    position: relative;
    left: 1070px;
    bottom: 50px;
} */

/* #next-button{
    width: 50px;
    border: none;
}

.btn-next button{
    border: none;
    background-color: none;
    outline: none;
    background: none;
} */

/* feed */

.filter{
    display: flex;
    margin: auto;
    max-width: 1120px;
    background: #D9D9D9;
    border-radius: 12px;
    height: 50px;
}

.filter button{
    width: 150px;
    border: none;
    border-radius: 12px;
}

.filter-btn{
    background-color: #D9D9D9;
}

.filter .active {
    background-color: #FFB633;
  }

.filter p{
    position: relative;
    top: 12px;
    left: 17px;
    font-size: large;
    font-weight: bold;
    margin-right: 50px;
}


.img-mobil{
    margin-top: 10px;
}

.feed-mobil{
    margin: auto;
    max-width: 1120px;
}

.img-mobil img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.body-product-feed{
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 0px 12px 12px;
}

.body-product-feed button{
    background-color: #FFB633;
    width: 100%;
    border: none;
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
}



/* footer */
.text-center{
    background-color: #FFB633;
    padding: 5px;
    margin-top: 30px;
}

.text-center p a{
    text-decoration: none;
    color: black;
}

.social-img{
    position: relative;
    right: 22px;
    margin-right: 15px;
}

.text-center p a:hover{
    color: #ffffff;
}

.accordian{
    background-color: #FFB633;
    display: none;
    padding-bottom: 10px;
}

.card-header h3{
    margin-left: 20px;
    font-size: 22px;
}

.card-body p{
    margin-left: 20px;
    color: rgb(58, 54, 54);
}

.card-footer{
    cursor: pointer;
}

.drop-btn{
    position: absolute;
    right: 25px;
}

.card-footer p{
    cursor: pointer;
}

.card-footer p:hover{
    color: white;
}

.accordian .card-footer .card-header{
    background-color: #FFB633;
}

.sosmed-mobile{
    display: flex;
    justify-content: center;
}

.sosmed-mobile img{
    margin: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.copyright{
    margin-top: 20px;
    display: block;
    justify-content: center;
    text-align: center;
}

.copyright h3{
    font-weight: bolder;
}

.copyright p{
    font-weight: lighter;
    color: #585656;
}

.accordian .card-footer .card-body{
	padding:20px;
}
.accordian .card-footer .card-body{
	display: none;
}



/*responsive*/

@media(max-width: 1425px){
    .bxsearch{
        display: none;
    }
    .search-carousel{
        display: flex;
    }
    .search-carousel input{
        position: relative;
        left: 10px;
        border-radius: 10px;
        padding : 8px;
        background-color: #D9D9D9;
        border: none;
        outline: #FFB633;
        padding-left: 10px;
        width: 100%;
    }
    
    .search-carousel button{
        position: relative;
        right: 10px;
        border-radius: 10px;
        padding: 8px;
        background-color: #FFB633;
        border: none;
        width: 90px;
    }
}
@media(max-width: 768px){
    .mobil-item{
        width: 10px;
    }

    .slide-text{
        display: block;
    }

    .carousel .carousel-indicators button {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        opacity: 1;
    }

    .slick-next:before{
        display: none;
    }
    
    .slick-prev:before{
        display: none;
    }
}

@media(max-width: 439px){
    #login-nav{
        display: block;
    }
    
    #signup-nav{
        display: block;
    }

    #signup{
        display: none;
    }

    #login{
        display: none;
    }

    #hyundai{
        display: none;
    }
}

@media(max-width: 406px){
    #tesla{
        display: none;
    }
}

@media(max-width: 992px){
    .footer{
        display: none;
    }

    .accordian{
        display: block;
    }
}







/* responsive carousel */

@media(max-width: 1260px){
    .slide-text{
        left: 0;
        bottom: 180px;
    }
}

@media(max-width: 1162px){
    .slide-text{
        left: 0;
        bottom: 160px;
    }
}

@media(max-width: 1086px){
    .slide-text{
        left: 0;
        bottom: 140px;
    }
}

@media(max-width: 971px){
    .slide-text{
        left: 0;
        bottom: 120px;
    }
}

@media(max-width: 841px){
    .slide-text{
        left: 0;
        bottom: 100px;
    }

    #slide-judul{
        font-size: 22px;
    }

    #slide-btn{
        width: 120px;
        height: 48px;
        font-size: 14px;
    }
}


@media(max-width: 806px){
    .slide-text{
        left: 0;
        bottom: 100px;
    }

    #slide-judul{
        font-size: 22px;
    }

    #slide-btn{
        width: 120px;
        height: 48px;
        font-size: 14px;
    }
}

@media(max-width: 638px){
    .slide-text{
        left: 0;
        bottom: 80px;
    }

    #slide-judul{
        font-size: 22px;
    }

    #slide-btn{
        width: 100px;
        height: 45px;
        font-size: 12px;
    }
}

@media(max-width: 544px){
    .slide-text{
        left: 0;
        bottom: 80px;
    }

    #slide-judul{
        font-size: 22px;
    }

    #slide-btn{
        width: 100px;
        height: 45px;
        font-size: 12px;
    }
}

@media(max-width: 569px){
    .slide-text{
        left: 0;
        bottom: 70px;
    }

    #slide-judul{
        font-size: 22px;
    }

    #slide-btn{
        width: 100px;
        height: 45px;
        font-size: 12px;
    }
}

@media(max-width: 441px){
    .slide-text{
        left: 0;
        bottom: 50px;
    }

    #slide-judul{
        font-size: 16px;
    }

    #slide-btn{
        width: 80px;
        height: 35px;
        font-size: 10px;
    }
}

@media(max-width: 332px){
    .slide-text{
        left: 0;
        bottom: 30px;
    }

    #slide-judul{
        font-size: 16px;
    }

    #slide-btn{
        width: 80px;
        height: 35px;
        font-size: 10px;
    }
}
