*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Outfit', sans-serif;
}

.header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s;
}

.logo{
    font-size: larger;
    color: var(--text-color);
    text-decoration: none;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    text-decoration: none;
    transition: all .50s ease;
}

.navbar a:hover{
    color: #FFB633;
}

.bxsearch{
    display: flex;
}

.bxsearch input{
    border-radius: 10px;
    padding : 8px;
    background-color: #D9D9D9;
    border: none;
    outline: #FFB633;
    padding-left: 10px;
    width: 100%;
}

.bxsearch button{
    border-radius: 10px;
    padding: 8px;
    background-color: #FFB633;
    border: none;
    width: 90px;
}

#signup{
    background-color: #FFB633;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 8px;
}

#login{
    background-color: #D9D9D9;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 8px;
    margin-left: 5px;
}

.carousel-item{
    height: 32rem;
    background-position: center;
    background-size: cover;
}

.slide-text{
    bottom: 0;
    left: 0;
    right: 0;
    margin: 200px;

}

#slide-judul{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: bold;
    color: aliceblue;
}

#slide-btn{
    background-color: #FFB633;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
}

#slide-btn:hover
{
    background-color: darkorange;
}



@media (max-width: 575.98px){
    .navbar a{
        display: none;
    }
    .bxsearch{
        display: none; 
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .navbar a{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px){
    
}

@media (min-width: 576px) and (max-width: 767.98px){
    .navbar a{
        display: none;
    }

    .bxsearch{
        display: none;
    }
}

/* recomendasi */
.services {
    color: #1b2049;
    widows: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  
  h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 36px;
    font-weight: 600;
    gap: 0.5em;
  }
  
  p {
    color: #000000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
  }
  
  .row {
    margin-top: 5%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start; /* try all 4 of these: stretch, center, flex-start, flex-end */
    gap: 1em;
  }
  
  .services-col {
    color: #1b2049;
    flex: 0 1 20%;
    min-width: 150px;
    background: #bcc5d5;
    border-radius: 10px;
    padding:  10px;
    box-sizing: border-box;
    transition: 0.3;
  }
  
  h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
  }

/*footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #FFB633;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #ffffff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #000000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
